<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="300 seconds">
    <property resource="application.properties"/>
    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>C:\var\logs\ApplicationLogs.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>c:\var\logs\ApplicationLogs.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 50MB -->
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 5 days' worth of history -->
            <maxHistory>5</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <prudent>false</prudent>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate.type" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>

    <appender name="ASYNCConsole" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <appender-ref ref="STDOUT"/>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <appender name="ASYNCFile" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <appender-ref ref="fileAppender"/>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNCFile"/>
        <appender-ref ref="ASYNCConsole"/>
    </root>



</configuration>